body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.calculator {
    width: 450px;
    background-color: hsl(0, 0%, 20%);
    overflow: hidden;
    border-radius: 15px;
}

/* Button grid */
.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    gap: 10px;
}

input {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    height: 90px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: right;
    padding: 10px;
}

/* Normal buttons */
button {
    width: 80px;
    height: 80px;
    border-radius: 60%;
    background-color: hsl(0, 0%, 30%);
    border: none;
    color: white;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

/* Operator buttons */
.btn {
    background-color: hsl(35, 100%, 55%);
}

.btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.btn:active {
    background-color: hsl(35, 100%, 75%);
}
